body{
    margin:0px;
    padding:0px;
   }
.headerFont{
      font-family: 'Ubuntu', sans-serif;
      font-size: 24px;
    }

.subFont{
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      
    }
    
.specialHead{
      font-family: 'Oswald', sans-serif;
    }

.normalFont{
      font-family: 'Roboto Condensed', sans-serif;
    }

a {
      color: #FFFFFF;
      text-decoration: none;
    }

a:link {
      color: #FFFFFF;
      text-decoration: none;
    }

    /* visited link */
a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }

    /* mouse over link */
a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    /* selected link */
a:active {
        color: #FFFFFF;
        text-decoration: none;
    }
